version: "3.8"
services:
  postgres:
    image: postgres:16
    container_name: DATABASENAME
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: MYNAME
      POSTGRES_PASSWORD: MYPASS
      POSTGRES_DB: shape_game_db
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
